/* green: #0e3017 */

html,
body {
  width: 100%;
  height: 100%;
  background: #0e3017;
  overflow: hidden;
}
html *,
body * {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  box-sizing: border-box;
}
html *:before, html *:after,
body *:before,
body *:after {
  content: "";
  position: absolute;
}

.tile-1 {
    width: 20px;
    height: 100px;
    left: -100px;
    background: white;
}

.tile-2 {
    width: 20px;
    height: 100px;
    left: -50px;
    background: white;
}

.tile-3 {
    width: 20px;
    height: 100px;
    background: white;

}

.tile-4 {
    width: 20px;
    height: 100px;
    left: 50px;
    background: white;

}

.tile-5 {
    width: 20px;
    height: 100px;
    left: 100px;
    background: white;

}

.tile-6 {
    width: 20px;
    height: 100px;
    left: 150px;
    background: white;

}

.tile-7 {
    width: 20px;
    height: 100px;
    left: 200px;
    background: white;

}

.tile-8 {
    width: 20px;
    height: 100px;
    left: 250px;
    background: white;

}

.btile-1 {
    width: 20px;
    height: 80px;
    top: -20px;
    left: -25px;
    background: black;
}

.btile-2 {
    width: 20px;
    height: 80px;
    top: -20px;
    left: -75px;
    background: black;
}

.btile-3 {
    width: 20px;
    height: 80px;
    top: -20px;
    left: 75px;
    background: black;
}

.btile-4 {
    width: 20px;
    height: 80px;
    top: -20px;
    left: 125px;
    background: black;
}

.btile-5 {
    width: 20px;
    height: 80px;
    top: -20px;
    left: 175px;
    background: black;
}
